/* Mobile Styles */
@media (max-width: 600px) {
    .mainContainer {
      padding: 2rem;
    }
    .timeLine {
      padding: 1rem;
    }
    .timeLineItem {
      margin: 1rem;
      width: 100% !important;
      box-sizing: border-box;
    }
    .timeLineYear {
      margin: 0;
    }
    .heading {
      padding: 2rem 0;
    }
  }
  
  /* Tablet Styles */
  @media (min-width: 601px) and (max-width: 1024px) {
    .mainContainer {
      padding: 4rem;
    }
    .timeLine {
      padding: 2rem;
    }
    .timeLineItem {
      width: 44% !important;
    }
    .timeLineItem:nth-of-type(2n) {
      float: right;
    }
    .timeLineItem:nth-of-type(2n):before {
      right: auto;
      left: -0.625rem;
    }
  }
  
  /* Desktop Styles */
  @media (min-width: 1025px) {
    .mainContainer {
      padding: 6rem;
    }
    .timeLine {
      padding: 2rem;
    }
    .timeLineItem {
      width: 44%;
      margin: 1rem;
    }
    .timeLineItem:nth-of-type(2n) {
      float: right;
      margin: 1rem;
    }
    .timeLineItem:nth-of-type(2n):before {
      right: auto;
      left: -0.625rem;
    }
  }
  